/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.Menubar ul li{
  display: inline;
}
.Menubar ul{
  list-style-type: none;
}
.Menubar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  /* text-align: center; */
  display: inline-block;
  color: whitesmoke;
  padding: 10px;
}
.Menubar{
  background-color: #cb9a47b5;
}
.Menubar ul li a:hover{
  background-color:gray;
}

.intro h1{
  color: black;
  background-color: yellow;
  width: 50%;
  text-align: center;
  transition: 1s .2s linear;
}
.intro h1:hover{
  color: white;
  background-color: orangered;
  width: 100%;
}

.anime{
  border: 1px solid black;
  width: 250px;
  height: 250px;
  margin-top: 10px;
  position: relative;
  animation-name: animated;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: .1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-fill-mode: both; */
}

@keyframes animated{
  0%{
    width: 250px;
    height: 250px;
    background-color: #d9d9d9;
    /* position: absolute; */
    left: 0;
  }
  10%{
    width: 250px;
    height: 125px;
    background-color: #cccccc;
    /* position: absolute; */
    /* left: 10%; */
  }
  20%{
    width: 250px;
    height: 250px;
    background-color: #bfbfbf;
    /* position: absolute; */
    /* left: 20%; */
  }
  30%{
    width: 250px;
    height: 125px;
    background-color: #b3b3be;
    /* position: absolute; */
    /* left: 30%; */
  }
  40%{
    width: 250px;
    height: 250px;
    background-color: #999999;
    /* position: absolute; */
    /* left: 40%; */
  }
  50%{
    width: 250px;
    height: 125px;
    background-color: #808080;
    /* position: absolute; */
    /* left: 50%; */
  }
  60%{
    width: 250px;
    height: 250px;
    background-color: #666666;
    /* position: absolute; */
    /* left: 60%; */
  }
  70%{
    width: 250px;
    height: 125px;
    background-color: #4d4d4d;
    /* position: absolute; */
    /* left: 70%; */
  }
  80%{
    width: 250px;
    height: 250px;
    background-color: #333333;
    /* position: absolute; */
    left: 1348px;
  }
}

.alter h1{
  color: whitesmoke;
  background-color: black;
  text-align: center;
  margin-top: 40px;
}